<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootstudy.mapper.StudentMapper">

    <select id="queryList" resultType="Student">
        select *
        from student
    </select>

    <select id="queryById" resultType="Student">
        select *
        from student
        where id = #{id}
    </select>

    <insert id="addStudent" parameterType="Student">
        insert into student(id, age, name)
        values (#{id}, #{age}, #{name})
    </insert>

    <update id="updateStudent" parameterType="Student">
        update student
        set age=#{age},
            name=#{name}
        where id = #{id}
    </update>

    <delete id="deleteStudent" parameterType="int">
        delete
        * from student where id =
        #{id}
    </delete>
</mapper>